<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>
<div class="fb-share-button" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count">
</div>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }}&hashtags={{ page.tags | join: ',' }}">Tweet</a>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/Share" data-url="{{ page.url | prepend: site.url }}" data-counter="right"></script>